<IfModule mod_rewrite.c>
  Options -MultiViews
  RewriteEngine On
  RewriteBase /register/

  # Don't rewrite direct requests for existing files or directories within this subdir
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Rewrite all other requests to this subdir's index.html
  RewriteRule ^ /register.html [L]
</IfModule>